<div id="modal-content-wrapper">
    <form [formGroup]="portfolioForm" class="mat-dialog-content" (ngSubmit)="savePortfolio()">
        <h4>Editing Portfolio</h4>
        <mat-form-field>
            <mat-label>Name</mat-label>
            <input matInput formControlName="name">
        </mat-form-field>
        <mat-form-field>
            <mat-label>Preferred Name</mat-label>
            <input matInput formControlName="preferredName">
        </mat-form-field>
        <mat-form-field>
            <mat-label>Description</mat-label>
            <textarea matInput formControlName="description"></textarea>
        </mat-form-field>
        <mat-form-field>
            <mat-label>Email</mat-label>
            <textarea matInput formControlName="email"></textarea>
        </mat-form-field>
        <mat-form-field>
            <mat-label>Phone</mat-label>
            <input matInput formControlName="phone">
        </mat-form-field>
        <mat-form-field>
            <mat-label>LinkedIn</mat-label>
            <input matInput formControlName="linkedin">
        </mat-form-field>
        <!-- List all majors with option to edit, add, or delete -->
        <!-- List all minors with option to edit, add, or delete -->
        <mat-form-field>
            <mat-label>University ID</mat-label>
            <input matInput formControlName="university_id">
        </mat-form-field>
        <mat-form-field>
            <mat-label>GPA</mat-label>
            <input matInput formControlName="gpa">
        </mat-form-field>
        <mat-form-field>
            <mat-label>School Year</mat-label>
            <input matInput formControlName="school_year">
        </mat-form-field>
        <!-- List all skills with option to add or delete -->
        <table class="table table-bordered" formArrayName="skills">  
            <tr>  
                <th colspan="2">Skills:</th>  
                <th width="150px"><button type="button" (click)="addSkill()" class="btn btn-primary">Add Skill</button></th>  
            </tr>  
            <tr *ngFor="let skill of skills().controls; let i=index" [formGroupName]="i">  
                <td>
                    Skill Name
                    <input type="text" formControlName="skillName" class="form-control">  
                </td>  
                <td>  
                    <button (click)="removeSkill(i)" class="btn btn-danger">Remove</button>  
                </td>  
            </tr>  
        </table>
        <!-- List all language skills with option to add or delete -->
        <!-- List all projects with option to edit, add, or delete -->
        <!-- List all jobs with option to edit, add, or delete -->
        <!-- List all coops with option to edit, add, or delete -->
        <!-- List all clubs with option to edit, add, or delete -->
        <!-- List all interests with option to edit, add, or delete -->
        <br />
        <button mat-button type="submit" [disabled]="!portfolioForm.status">Submit</button>
    </form>
    <footer id="modal-footer">
        <button mat-raised-button id="modal-cancel-button" (click)="closeModal()">
            Back
        </button>
    </footer>
</div>