<div id="modal-content-wrapper">
    <form [formGroup]="portfolioForm" class="mat-dialog-content" (ngSubmit)="savePortfolio()">
        <h4>Editing Portfolio</h4>
        <mat-form-field>
            <mat-label>Name</mat-label>
            <input matInput formControlName="name">
        </mat-form-field>
        <mat-form-field>
            <mat-label>Preferred Name</mat-label>
            <input matInput formControlName="preferredName">
        </mat-form-field>
        <mat-form-field>
            <mat-label>Description</mat-label>
            <textarea matInput formControlName="description"></textarea>
        </mat-form-field>
        <mat-form-field>
            <mat-label>Email</mat-label>
            <textarea matInput formControlName="email"></textarea>
        </mat-form-field>
        <mat-form-field>
            <mat-label>Phone</mat-label>
            <textarea matInput formControlName="phone"></textarea>
        </mat-form-field>
        <mat-form-field>
            <mat-label>LinkedIn</mat-label>
            <textarea matInput formControlName="linkedin"></textarea>
        </mat-form-field>
        <!-- List all majors with option to edit, add, or delete -->
        <!-- List all minors with option to edit, add, or delete -->
        <mat-form-field>
            <mat-label>University ID</mat-label>
            <textarea matInput formControlName="university_id"></textarea>
        </mat-form-field>
        <mat-form-field>
            <mat-label>GPA</mat-label>
            <textarea matInput formControlName="gpa"></textarea>
        </mat-form-field>
        <mat-form-field>
            <mat-label>School Year</mat-label>
            <textarea matInput formControlName="school_year"></textarea>
        </mat-form-field>
        <!-- List all skills with option to add or delete -->
        <!-- List all language skills with option to add or delete -->
        <!-- List all projects with option to edit, add, or delete -->
        <!-- List all jobs with option to edit, add, or delete -->
        <!-- List all coops with option to edit, add, or delete -->
        <!-- List all clubs with option to edit, add, or delete -->
        <!-- List all interests with option to edit, add, or delete -->
        <br />
        <button mat-button type="submit" [disabled]="!portfolioForm.status">Submit</button>
    </form>
    <footer id="modal-footer">
        <button mat-raised-button id="modal-cancel-button" (click)="closeModal()">
            Back
        </button>
    </footer>
</div>